<h2>Записаться</h2>
<p>На этой странице вы сможете записаться к нам в Barber Shop</p>


<script type="text/javascript">

$(function() {

  // тут я могу написать любой javascript код, который исполнится
  // после загрузки страницы

  $('#color').simplecolorpicker();
  $('#datetimepicker').datetimepicker();

});

</script>


<form action="/visit" method="POST" role="form">

  <div class="form-group">
    <label>Ваше имя</label>
    <input name="client[name]" type="text" class="form-control" placeholder="Ваше имя" value="<%= @c.name %>">
  </div>

  <div class="form-group">
    <label>Ваш телефон</label>
    <input name="client[phone]" type="text" class="form-control" placeholder="Ваш телефон" value="<%= @c.phone %>">
  </div>

  <div class="form-group">
    <label>Когда вас ждать?</label>
    <input id="datetimepicker" name="client[datestamp]" type="text" class="form-control" placeholder="Введите дату и время" value="<%= @c.datestamp %>">
  </div>

<div class="form-group">
    <label>Выберите желаемый цвет для покраски</label>
      <select id="color" name="color">
      <option value="#7bd148">Зеленый</option>
      <option value="#5484ed">Темно-Голубой</option>
      <option value="#a4bdfc">Голубой</option>
      <option value="#46d6db">Бирюзовый</option>
      <option value="#7ae7bf">Светло-Зеленый</option>
      <option value="#51b749">Темно-Зеленый</option>
      <option value="#fbd75b">Желтый</option>
      <option value="#ffb878">Оранжевый</option>
      <option value="#ff887c">Красный</option>
      <option value="#dc2127">Темно-Красный</option>
      <option value="#dbadff">Пурпурный</option>
      <option value="#e1e1e1">Серый</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Записаться</button>

</form>
